body{
    margin: 0;
    padding-left: 20px;
}

.inlineRow{
    margin-bottom: 20px;
    border-bottom: 1px solid transparent;
}
.mySpan{
    background-color:darksalmon;
}
.myStrong{
    background-color: darkolivegreen;
    color: white;
}
.myA{
    background-color:indianred;
}
.dimSpan{
    width: 500px;
    height: 200px;
    background-color: black;
    color: red;
}

.spanFather{
    width: 150px;
    border: 1px solid black;
    padding: 20px;
}

.largeFont{
    font-size: 30px;
    line-height: 40px;
}

.vertSpan{
    vertical-align: baseline;
    background-color: cornflowerblue;
}
.vertImg{
    vertical-align: middle;
    width:100px;
}
.greenSpan{
    background-color:darkgreen;
    color: white;
}

.imaDiv{
    background-color: burlywood;
}
.imaP{
    background-color: brown;
    color: white;
}
.imaH3{
    background-color: darkmagenta;
    color: white;
    height: 50px;
    line-height: 50px;
}
.imaUl{
    background-color: chartreuse;
}
.imaUl li{
    background-color: crimson;
    margin-bottom: 10px;
    color: white;
}